name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-2019

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: MSBuild of plugin dll
      working-directory: ./Demo Plugin/
      run: msbuild NppManagedPluginDemo.sln /m /verbosity:detailed
